/* CARD */

.main-card-container {
  height: 180px;
  width: 40%;
  position: relative;
  margin: 10px;
}

.inner-card-container {
  height: 167px;
  width: 149px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 1px solid rgb(173, 173, 173);
}

.inner-card-container > img {
  z-index: -1;
}
.inner-card-container > span {
  position: absolute;
  top: 5px;
  left: 5px;
}
.inner-card-container > p {
  position: absolute;
  top: 30%;
  left: 30%;
  color: rgb(254, 37, 247);
  font-weight: 400;
  font-size: 20px;
  line-height: 23.44px;
}

/* CHIP */

.main-chip-container {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-chip-container {
  height: 45px;
  width: 89px;
  background-color: grey;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BIKE PRE VIEW */

.main-preview-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.inner-preview-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 95%;
  background-color: antiquewhite;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.preview-bike-img-container {
  height: 60%;
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.preview-bike-img-container > img {
  min-height: 100%;
  min-width: 100%;
}

.preview-bike-img-info-container {
  position: absolute;
  z-index: 2;
  bottom: 20px;
  left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.preview-bike-img-info-container > span {
  background-color: grey;
  height: 40px;
  width: 120px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
  color: azure;
}

.preview-data-container {
  width: 100%;
  height: 30%;
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.preview-data-container > span {
  width: 85%;
}

.preview-description-text-container {
  height: 50%;
  width: 90%;
  overflow-y: scroll;
  margin: 15px 0px;
  background-color: rgb(207, 169, 120);
  padding: 5px;
}

.button {
  height: 30px;
  width: 100px;
  border-radius: 20px;
  background-color: #67b3d8;
  border: 1px solid blue;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.5);
}

.secondary-button {
  width: 310px;
  height: 42px;
  background-color: aliceblue;
  border-radius: 10px;
}

.secondary-button > span {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: rgb(13, 15, 14);
}